body
{
    color:deeppink;
    text-align: center;
    font-family: 'arial';
    font-size: 16px;
    margin: 0;
    padding: 0;

}
#cabecera
{   background-color: blue;
    text-align: center;
    box-shadow: -1px 2px 18px 4px rgba(11,143,73,1);
}
#container
{
    width: 70%;
    padding: 1em;
    border: 1px solid forestgreen;
}

#footer
{
    background: rgb(112, 17, 17);
    color: aliceblue;
    text-align: center;
}
